@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
}

.App {
  text-align: center;
}

.navlink {
  text-decoration: none;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:10px;
  justify-content: center;
  display: flex; 
  align-items: center;
  color:black;
  font-weight: 600;
}

.navlink:hover {
  font-weight: 900;
  transform: scale(1.1);
}

.navlink-contact {
  text-decoration: none;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:10px;
  justify-content: center;
  display: flex; 
  align-items: center;
}

Nav {
  display: flex;
  justify-content: flex-end;
}

.home-div {
  position: relative;
}

.home-div:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 960px;
  opacity: 0.2;
  background-image: url(../src/Assets/comic-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  
  
}

.home-content {
  position: relative;
  text-align: left;
  padding-left: 100px;
  padding-top: 400px;
}

.browse-button {
  width:150px;
}

.browse-button:hover {
  transform: scale(1.1);
}

.navbar-nav {
  /* background-color: #848385; */
  background-color: transparent;
  width:100%;
  height:75px;
  padding-top: 18px;
  z-index:100;
  top:0;
  position: fixed;
}

.browse-info {
  padding-top: 100px;
  background-color: red;
  height:100%
}

.search-bar {
  border:none;
  width:300px;
  border-radius: 40rem;
  background-color: transparent;
}

.search-bar:focus{
  outline:none
}

.search-wrapper {
  margin-top: 9px;
  font-size: 18px;
}