@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Josefin Sans", sans-serif;
}

.App {
  text-align: center;
  background: linear-gradient(90deg, rgba(89,0,0,1) 0%, rgba(0,0,0,1) 100%);
}

.navlink {
  text-decoration: none;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:10px;
  justify-content: center;
  display: block;
  padding-top: 13px;
  align-items: center;
  color:white;
  font-weight: 600;
}

@media screen and (max-width: 600px){

  .navlink {
    float: none;
    width: 100%;
  
  }
}

.navlink:hover {
  font-weight: 900;
  transform: scale(1.1);
}

.navlink-contact {
  text-decoration: none;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  margin-right:10px;
  justify-content: center;
  display: flex; 
  align-items: center;
}

Nav {
  display: flex;
  justify-content: flex-end;
}

.home-div {
  position: relative;
}

.home-div:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 970px;
  /* opacity: 0.2;
  background-image: url(../src/Assets/comic-bg.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; */
  background:linear-gradient(90deg,rgba(89,0,0,1) 0%, rgba(0,0,0,1) 100%);
  
}
  
.browse-info {
  background:linear-gradient(90deg,rgba(89,0,0,1) 0%, rgba(0,0,0,1) 100%);
  padding:50px
}

.browse-movie {
  justify-content: center;
}

.home-content {
  position: relative;
  text-align: left;
  padding-left: 100px;
  padding-top: 400px;
}

.browse-button {
  width:150px;
  border-color: black;
}

.browse-button:hover {
  transform: scale(1.1);
}

.navbar-nav {
  /* background-color: #848385; */
  background-color: black;
  width:100%;
  height:75px;
  padding-top: 18px;
  z-index:100;
  top:0;
  position: fixed;
  overflow: hidden;
}

.browse-info {
  padding-top: 100px;
  height:100%
}

.search-bar {
  border:none;
  width:300px;
  border-radius: 40rem;
  background-color: transparent;
}

.search-bar:focus{
  outline:none;
  color:white
}

.search-wrapper {
  margin-top: 9px;
  font-size: 18px;
  color:white
}

.movieItems {
  color:black;
  margin-bottom: 20px;
  border:none
}

.card-button {
  color:black;
  background: transparent;
  border:none;
}

.card-button:hover{
  transform: scale(1.1);
}

.movie-Card{
  opacity: 1;
}

.movie-Card:hover{
  opacity:0.8;
  transform: scale(1.05);
}

.chip-button {
  border: none;
  border-radius: 16px;
  padding: 8px 16px;
  margin: 0 8px;
  cursor: pointer;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  transition: background-color 0.3s ease;
}

.chip-button:hover,
.chip-button:focus,
.chip-button.active {
  background-color: rgba(255, 255, 255, 0.5);
}

.chip-container {
  margin-bottom: 20px;
}